.customButton {
  padding: 16px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  font-family: 'Orbitron';
  color: #FFF;
  text-decoration: none;
  width: fit-content;
  margin: 6px 0;
}