@import '../../../app/globals.scss';

.animatedListItem {
  margin: 4px 0;
  user-select: none;
  color: #b8b8b8;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  .content {
    display: flex;
    flex-direction: column;

    .name {
      @include clamp-line;
      color: unset;
      text-decoration: none;
    }
  }
}


@media screen and (max-width: 600px) {

  .animatedListItem {
    padding: 16px 20px;
  }
}


@media screen and (min-width: 600px) {

  .animatedListItem {
    padding: 16px 20px;
  }
}

@media screen and (min-width: 1024px) {

  .animatedListItem {
    margin-right: 12px;
  }
}
