.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 4px;
  width: 100vw;
  height: 100vh;
  margin: 15% auto;
  position: absolute;
  z-index: 1;
  inset: 0;
  .child {
    background: #04182E;
    height: 5px;
    width: 550px;
  }
}