.background {
  position: absolute;
  inset: 0;
  user-select: none;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  opacity: 0;
  animation-name: make-opaque;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-duration: 4s;
  display: flex;
  justify-content: center;
  svg {
    opacity: 0.1;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 50s;
    animation-timing-function: linear;
    overflow: visible;
  }
}


.backgrounds {
  .container1, .container2 {
    @media screen and (max-width: 600px) {
      position: absolute;
      height: 100vh;
      width: 100vw;
      svg {
        transform: rotate(90deg) scale(2.5) translate(114px, 10px);
      }
    }
    @media screen and (max-width: 1024px) {
      position: absolute;
      height: 100vh;
      width: 100vw;
      svg {
        transform: rotate(90deg) scale(2.5) translate(114px, 10px);
      }
    }
    @media screen and (min-width: 1024px) {
      position: absolute;
      height: 100vh;
      width: 100vw;
      svg {
        transform: unset;
      }
    }
  }
}

@keyframes make-opaque {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}